@{
    ViewBag.Title = "Fantastisk GRILL";
}
<div class="container" style="background-image:url(/Content/Fantastisk_V3_open.png);">
    <div class="Sign_left_big textFont">KARTA</div>
    <div class="Sign_left_small textFont">25°C</div>
    <img class="Sign_right_big" src="http://thecatapi.com/api/images/get?format=src&type=gif">
    <div class="Sign_right_small textFont">MENY</div>
</div>