
<div class="menuBackground">

    <div class="contentContainer">

        <div class="contentItem">
            <h6>Grill meny special</h6>
            <h2>Super skrov mål</h2>
            <h4>50 SEK</h4>
        </div>


    </div>

</div>